.waiting {
    width: 100%;
}

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #004692;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
  cursor: pointer;
}

button[disabled] {
  background: #cccccc;
}

button[disabled]:hover {
  background: #cccccc;
  cursor: default;
}

.pullRequest {
  margin: 2px 0px;
  border-bottom: 1px solid #cccccc;
  padding: 3px 0;
}

.pullRequest:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.pullRequest .details {
  height: 33px;
  line-height: 33px;
}

.pullRequest .details .memberIcon {
  width:30px;
  float: left;
  margin-right: 5px;
}

.pullRequest .details .branchesInfo {
  position: relative;
  bottom: 5px;
  line-height: 0;
  font-size: 9px;
  left: 45px;
  color: #555555;
}