.waiting {
    width: 100%;
}

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #004692;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  border: none;
  height: 43px;
}

button .spinner {
  height: inherit;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
  cursor: pointer;
}

button[disabled] {
  background: #cccccc;
}

button[disabled]:hover {
  background: #cccccc;
  cursor: default;
}

.pullRequest {
  margin: 2px 0px;
  border-bottom: 1px solid #cccccc;
  padding: 3px 0;
  height: 33px;
  width: 585px;
}

.pullRequest:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.pullRequest .details {
  height: 33px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  width: 555px;
}

.pullRequest .details .memberIcon {
  width:30px;
  float: left;
  margin-right: 5px;
}

.pullRequest .details .branchesInfo {
  position: inherit;
  bottom: 8px;
  line-height: 0;
  font-size: 9px;
  left: 45px;
  color: #555555;
}

.pullRequest .repository {
  text-transform: uppercase;
  font-weight: bold;
}

.pullRequest .actions {
  display: inline-block;
}

.pullRequest .actions .auto-complete {
  height: 25px;
  margin-top: 3px;
}

.pullRequest .actions .auto-complete.disabled{
  opacity: 0.1;
}

.pullRequest .state {
  float: right;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-right: 5px;
}

.pullRequest .state.state-success {
  background-image: url("/img/policy_ok.png");
}

.pullRequest .state.state-error {
  background-image: url("/img/policy_ko.png");
}

.pullRequest .state.state-warning {
  background-image: url("/img/policy_warning.png");
}

.menu-buttons {
  display: table;
  background-color: #F3F3F3;
  width: 100%;
  height: 45px;
  margin-bottom: 5px;
}

.menu-buttons button {
  font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #333;
}

.menu-buttons button.selected {
  color: #0073bf;
  border-bottom: 2px solid #0073bf;
}
.menu-buttons button:focus {
  outline:none;
}

.menu-buttons button:hover {
    outline: none;
    background-color: #d0d2d3;
}

.menu-buttons button {
  background-color: inherit;
  height: 45px;
}