<div class="waiting" data-ng-hide="prCtrl.hideLoading">
    <spinner></spinner>
</div>
<div>
    <button data-ng-show="prCtrl.toApprovePullRequests.length > 0" data-ng-disabled="prCtrl.pullRequests === prCtrl.toApprovePullRequests"
        data-ng-click="prCtrl.fillToApprovePullRequests();">To Approve ({{prCtrl.toApprovePullRequests.length}})</button>
    <button data-ng-show="prCtrl.allPullRequests.length > 0" data-ng-disabled="prCtrl.pullRequests === prCtrl.allPullRequests" 
        data-ng-click="prCtrl.fillPullRequests(this);">All Active ({{prCtrl.allPullRequests.length}})</button>
    <member member-selected="prCtrl.memberSelected(member)" members-display="prCtrl.membersDisplay()" members="prCtrl.members" current-member="prCtrl.currentMember"></member>
</div>
<div ng-repeat='pr in prCtrl.pullRequests'>
    <img style="width:30px" data-ng-src="{{pr.createdBy.imageUrl}}" title="{{pr.createdBy.displayName}}"></img>
    <span ng-bind="::pr.repository.name">:</span>
    <a href="#" data-ng-click="prCtrl.redirect(pr);" data-ng-bind="::pr.title"></a>
</div>