.waiting {
    width: 100%;
}

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #004692;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
  cursor: pointer;
}

button[disabled] {
  background: #cccccc;
}

button[disabled]:hover {
  background: #cccccc;
  cursor: default;
}