pull-request {
	display: block;
}

button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	background: #004692;
	padding: 8px 20px 10px 20px;
	text-decoration: none;
	border: none;
	height: 43px;
}

button .spinner {
	height: inherit;
}

button:not(.selected):hover {
	background: #3cb0fd;
	text-decoration: none;
	cursor: pointer;
}

button[disabled] {
	background: #cccccc;
}

button[disabled]:hover {
	background: #cccccc;
	cursor: default;
}

.pullRequest {
	border-top: 1px solid #8da9aa;
	display: flex;
	align-items: center;
	height: 95px;
}
.pullRequest:first-child {
	margin-top: 0;
}

.pullRequest:hover {
	background-color: #dff2ff;
	cursor: pointer;
}

.pullRequest .details {
	display: flex;
    flex-direction: column;
    margin-left: 5px;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
}

.pullRequest .pullRequest-details {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.pullRequest .details .branchesInfo,
.pullRequest .durationInfo {
	font-size: 10px;
	color: #8da9aa;
}

.pullRequest .repository {
	font-weight: bold;
    font-size: 1.2em;
	color: #1e3e50;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 60%;
	margin-left: 5px;
}

.pullRequest .actions {
	display: flex;
}

.pullRequest .state {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position-x: center;
	padding: 0 10px;
}

.comments {
	display: flex;
	margin-top: 5px;
}

.reviewer-container {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.pullRequest .comments__image {
	background: url('./comments.png');
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 3px;
}
.details {
	width: 600px !important;
}
.card-container {
	height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.card {
	display: none;
    text-align: center;
	font-weight: bold;
	background-color: inherit;
    padding: 2px 0;
    margin-right: 5px;
    width: 100%;
}

.draft--visible {
	display: inline;
}
.pullRequest:nth-child(odd).draft-active {
	/* border-color: #0078d499; */
}
.draft-active {
	/* border: 2px solid #0078d4; */
}
.pullRequest:nth-child(odd) .draft {
	/* background-color: #0078d499; */
}
.draft{
	background-color: #0078d4;
	color: #fff;
}

.fast--visible {
	display: flex;
    justify-content: center;
	color: #333333;
	background-color: rgba(248, 168, 0, 1);
}

.auto-complete {
	display: block;
    width: 20px;
    background-image: url('./auto-complete.png');
    background-size: 20px;
    background-repeat: no-repeat;
}

.details-content {
	display: flex;
	align-items: center;
    margin-top: 2px;
}

.menu-buttons {
	display: table;
	width: 100%;
	height: 45px;
	margin-bottom: 0px;
	position: sticky;
	top: 0;
	background-color: #fff;
	border-bottom: 1px solid #8da9aa;
}

.menu-buttons button {
	font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Ubuntu, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	color: #333;
}

.menu-buttons button.selected {
	color: #fff;
	/* border-bottom: 2px solid #fff; */
	background-color: #0078d4;
}

.menu-buttons button:focus {
	outline: none;
}

.menu-buttons button:not(.selected):hover {
	outline: none;
	background-color: #dff2ff;
	color: #0078d4;
}

.menu-buttons button {
	background-color: inherit;
	height: 45px;
	color: #0078d4;
}

.menu-buttons .list-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menu-icon {
	font-size: 1em !important;
}

.menu-buttons .settings-button {
	/* margin: 5px;
    height: 35px;*/
	/* width: 45px; */
	color: #0e0d19;
    padding: 8px 10px 10px 10px;
	/* background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center; */
}

.review-rejected {
	background-color: #ffdddd;
}

.review-waiting {
	background-color: #ffff99;
}

.pr-settings {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.pr-settings input[type='checkbox'] {
	float: left;
}

.list-buttons__button {
	display: flex;
	align-items: center;
}

.pr-settings-notifications {
	display: inline-block;
}

.project-settings {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.filter-button {
	margin: 5px;
	height: 35px;
	width: 35px;
	background: url('./filter.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: center;
}

.button--red {
	background-color: red;
}

.button--red:hover {
	background-color: lightcoral;
}
.pullRequest.autocomplete-active {
	border: 2px solid #f8a800 !important;
}

.prtitle {
	color: #3b575f;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 90%;
    font-size: 1.2em;
    font-weight: bold;
}

.durationInfo {
	margin-left: 10px;
}

.state-details {
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 90px;
	width: 70px;
}
.creator {
	width: 70px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.prstate {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prstate.state-success {
	border: 1px solid #38a758;
	color: #fff;
	background-color: #38a758;
}

.prstate.state-warning {
	border: 1px solid #FDB913;
	color: #fff;
	background-color: #FDB913;
}

.prstate.state-error {
	border: 1px solid #a70d26;
	color: #fff;
	background-color: #a70d26;
}

.icons-status {
	font-size: 1.5em;
}

.fa-comments {
	font-size: 15px;
    margin-left: 3px;
}

.fa-sun,
.fa-moon
{
	cursor: pointer;
    font-size: 25px;
}
.fa-sun {
	color: #ffe000;
}
.app:not(.dark) .fa-sun {
	display: none;
}

.fa-moon {
    color: #0e0d19;
}
.app.dark .fa-moon {
	display: none;
}

.fa-git-alt {
	font-size: 1.5em;
	color: #f05133;
}
