.settings {
    margin: 0 10px;
}

.settings > div {
    margin: 5px 0;
}

.settings .title {
    font-size: 18px;
    font-weight: bold;
}

.settings input {
    width: 250px;
}

.settings .error {
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

.settings button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #004692;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
    border: none;
    height: 43px;
}

.settings button .spinner {
    height: inherit;
}

.settings button:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
}

.settings button[disabled] {
    background: #cccccc;
}

.settings button[disabled]:hover {
    background: #cccccc;
    cursor: default;
}
