pull-request {
	display: block;
}

button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	background: #004692;
	padding: 8px 20px 10px 20px;
	text-decoration: none;
	border: none;
	height: 43px;
}

button .spinner {
	height: inherit;
}

button:not(.selected):hover {
	background: #3cb0fd;
	text-decoration: none;
	cursor: pointer;
}

button[disabled] {
	background: #cccccc;
}

button[disabled]:hover {
	background: #cccccc;
	cursor: default;
}

.reviewer-container {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.draft--visible {
	display: inline;
}
.draft{
	background-color: #0078d4;
	color: #fff;
}

.fast--visible {
	display: flex;
    justify-content: center;
	color: #333333;
	background-color: rgba(248, 168, 0, 1);
}

.menu-buttons {
	display: flex;
	width: 100%;
	height: 45px;
	margin-bottom: 0px;
	position: sticky;
	top: 0;
	background-color: #fff;
	border-bottom: 1px solid #8da9aa;
}

.menu-buttons button.selected {
	color: #fff;
	background-color: #0078d4;
}

.menu-buttons button:focus {
	outline: none;
}

.menu-buttons button:not(.selected):hover {
	outline: none;
	background-color: #dff2ff;
	color: #0078d4;
}

.menu-buttons button {
	background-color: inherit;
	height: 46px;
	color: #0078d4;
}

.menu-buttons .list-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menu-icon {
	font-size: 1em !important;
}

.menu-buttons .settings-button {
	color: #0e0d19;
    padding: 8px 6px;
}
.menu-buttons i {
	color: inherit;
}

.pr-settings {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.pr-settings input[type='checkbox'] {
	float: left;
}

.list-buttons__button {
	display: flex;
	align-items: center;
}

.pr-settings-notifications {
	display: inline-block;
}

.project-settings {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.button--red {
	background-color: red;
}

.button--red:hover {
	background-color: lightcoral;
}

.fa-sun,
.fa-moon
{
	cursor: pointer;
    font-size: 22px;
}
.app:not(.dark) .fa-sun {
	display: none;
}

.fa-moon {
    color: #0e0d19;
}
.app.dark .fa-moon {
	display: none;
}

.fa-git-alt {
	font-size: 1.5em;
	color: #f05133;
}

.menu-buttons .settings-darkMode {
	padding: 0;
}
