<div data-ng-if="$ctrl.isInitialized">
    <div class="menu-buttons">
        <div class="list-buttons">
            <div class="list-buttons__button">
                <button data-ng-show="$ctrl.minePullRequests.length > 0"
                    data-ng-class="{ selected: $ctrl.isMinePullRequests() }"
                    data-ng-click="$ctrl.fillMinePullRequests();">Mine ({{$ctrl.minePullRequests.length}})</button>
                <button data-ng-show="$ctrl.toApprovePullRequests.length > 0"
                    data-ng-class="{ selected: $ctrl.isToApprovePullRequests() }"
                    data-ng-click="$ctrl.fillToApprovePullRequests();">To Approve
                    ({{$ctrl.toApprovePullRequests.length}})</button>
                <button data-ng-show="$ctrl.pullRequests.length > 0"
                    data-ng-class="{ selected: $ctrl.isAllPullRequests()}" data-ng-click="$ctrl.fillPullRequests();">All
                    ({{$ctrl.pullRequests.length}})</button>
            </div>
            <div class="list-buttons__button">
                <div data-ng-click="$ctrl.toggleMode()">
                    <i class="fas fa-sun"></i>
                    <i class="far fa-moon"></i>
                </div>
                <button data-ng-click="$ctrl.toggleSettings();" class="settings-button"><i
                        class="fas fa-bars icons-status menu-icon"></i></button>
                <member></member>
            </div>
        </div>
    </div>
    <div data-ng-show="!$ctrl.showSettings">
        <filter></filter>
        <pull-request
            data-ng-show="pr.isVisible"
            data-ng-repeat="pr in $ctrl.pullRequests track by pr.pullRequestId"
            data-pull-request="::pr"
            data-is-visible="pr.isVisible"
        ></pull-request>
    </div>
    <div class="pr-settings" data-ng-show="$ctrl.showSettings">
        <div>
            <label for="pr-settings-enable-notifications">Activer les notifications</label>
            <input id="pr-settings-enable-notifications" type="checkbox" data-ng-change="::$ctrl.toggleNotifications();"
                data-ng-model="$ctrl.enableNotifications" />
        </div>
        <div>
            <button class="button--red" data-ng-click="::$ctrl.logout()">Logout</button>
        </div>
    </div>
</div>