member {
    font-size: 0;
}

.currentMember {
    cursor: pointer;
    height: 45px;
}

.members .member {
    width:30px;
    height: 30px;
    cursor: pointer;
    margin: 2px;
}

.membersForm {
    margin-top: 10px;
}

.membersForm > input {
    height: 25px;
    margin-bottom: 5px;
    margin-left: 2px;
    padding: 0 5px;
}