<img class="currentMember" data-ng-click="memberCtrl.clickSelectUser()" data-ng-src="{{memberCtrl.currentMember.imageUrl || 'member/member-default.png'}}"/>
<div class="membersForm" data-ng-show="memberCtrl.isMembersShown()">
    <input type="text" data-ng-model="searchMember" placeholder="Search an user..."/>
    <div class="members">
        <span ng-repeat='member in memberCtrl.members | filter:searchMember:false track by member.id'>
            <img class="member" data-ng-click="memberCtrl.selectMember(member);" data-ng-src="{{member.imageUrl}}" title="{{member.displayName}}"></img>
        </span>
    </div>
</div>